.character {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .character__list {
    display: flex;
    gap: 30px;
  }
  
  .character__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  
  .character__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .character__text {
    width: 271px;
  }
  
  // .section-title {
  //   font-size: 36px;
  //   line-height: 1.16;
  //   text-align: center;
  //   margin-bottom: 50px;
  
  //   color: var(--title-text-color);
  
  //   margin-bottom: 50px;
  //   text-align: center;
  // }
  
  .character__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: #212121;
  
    margin-bottom: 10px;
  }
  
  .character__text {
    line-height: 1.71;
  }
  