
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-color: #2196f3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --third-bg-color: #f5f4fa;
    --logo-color: #000000;
  }
  